 body{
color: red;
  background: #66FF66;
   margin: 0px;


  
}
     header{
       border-bottom: solid 2px rgb(191 203 3);
        padding: 20px;
        front-size: 32px;
         color: rgb(191 203 3);
     }

section{
     background: #66FF66;
     padding-bottom: 80px;
     padding-top: 80px;
     display: flex;
     justify-content: center;
 
}
.chamada-texto{
    margin-right: 20px;


 
}
